.dashboard-container {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    transition: all 0.3s ease;
}

.sidebar-open .sidebar-container {
    transform: translateX(0);
}

.sidebar-open .main-content {
    margin-left: 250px; /* Sidebar width */
}

.sidebar-closed .sidebar-container {
    transform: translateX(-100%);
}

.sidebar-closed .main-content {
    margin-left: 0;
}

.main-content {
    padding: 20px;
    transition: margin-left 0.3s ease;
    position: relative;
}

.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4a148c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.hamburger-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.create-note-button-floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4a148c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.empty-notes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.empty-notes-card {
    text-align: center;
}

.section-title {
    /* font-size: 1.5rem; */
    color: #4a148c;
    margin-top: 20px;
}

.priority-diskette{
    margin-left: 70px;
    display: inline;
}

.hamburger-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.hamburger-button img {
    width: 30px;
    height: 30px;
}
