.css-s37jdl-MuiPaper-root-MuiAppBar-root{
    width: 95%;
}

@media screen and (max-width: 480px){
    .css-s37jdl-MuiPaper-root-MuiAppBar-root{
        width: 90%;
    }
}

@media screen and (min-width: 600px) {
    .css-n3793s-MuiInputBase-root{
        width: 100px !important;
    }
}
