.css-s37jdl-MuiPaper-root-MuiAppBar-root{
    width: 95%;
}

@media screen and (max-width: 480px){
    .css-s37jdl-MuiPaper-root-MuiAppBar-root{
        width: 90%;
    }
}

@media screen and (min-width: 601px) {
    .css-jb236k-MuiInputBase-root{
        width: 100ch !important;
    }    

    .css-rzpqfg-MuiInputBase-root{
        width: 100ch !important;
    }

    .css-93r5td{
        width: 100ch !important;
    }
    
    .css-6wh8lg{
        width: 100ch !important;
    }
}

.css-jb236k-MuiInputBase-root{
    width: 100ch !important;
}  

.css-rzpqfg-MuiInputBase-root{
    width: 100ch !important;
}

.css-93r5td{
    width: 100ch !important;
}

.css-6wh8lg{
    width: 100ch !important;
}